<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{title}}!
  </h1>
  <h2>按钮</h2>
  <div>
    <p>按钮类型</p>
    <ag-button type="primary">Primary</ag-button>
    <ag-button>Default</ag-button>
    <ag-button type="dashed">Dashed</ag-button>
    <ag-button type="danger">Danger</ag-button>
  </div>
  <div>
    <p>不可用状态</p>
    <ag-button type="primary" [disabled]="true">Primary(Disabled)</ag-button>
    <ag-button [disabled]="true">Default(Disabled)</ag-button>
    <ag-button type="dashed" [disabled]="true">Dashed(Disabled)</ag-button>
    <ag-button type="danger" [disabled]="true">Danger(Disabled)</ag-button>
  </div>
  <div>
    <p>按钮尺寸</p>
    <ag-button size="large">Large</ag-button>
    <ag-button size="small">Small</ag-button>
    <ag-button size="default">Default</ag-button>
  </div>
  <div>
    <p>加载中状态</p>
    <ag-button type="primary" [loading]="true">Primary</ag-button>
  </div>
  <div>
    <p>图标按钮</p>
    <ag-button type="primary" shape="circle" icon="search"></ag-button>
    <ag-button type="primary" icon="search">Search</ag-button>
    <ag-button shape="circle" icon="search"></ag-button>
    <ag-button icon="search">Search</ag-button>
  </div>
  <div style="background:lightgrey;">
    <p>幽灵按钮</p>
    <ag-button type="primary" [ghost]="true">Primary</ag-button>
    <ag-button [ghost]="true">Default</ag-button>
    <ag-button type="dashed" [ghost]="true">Dashed</ag-button>
    <ag-button type="danger" [ghost]="true">Danger</ag-button>
  </div>
  <div>
    <p>按钮组合</p>
    <ag-button-group>
      <ag-button type="primary" remove-host><ag-icon type="left"></ag-icon>Go Back</ag-button>
      <ag-button type="primary" remove-host>Go Forward<ag-icon type="right"></ag-icon></ag-button>
    </ag-button-group>
    <ag-button-group>
      <ag-button type="primary" icon="cloud" remove-host></ag-button>
      <ag-button type="primary" icon="cloud-download" remove-host></ag-button>
    </ag-button-group>
  </div>
  <div>
    <p>多个按钮组合</p>
  </div>
  <h2>图标</h2>
  <div>
    <p>图标</p>
    <ag-icon type="loading" [style]="{fontSize: 20, color: 'red'}" [spin]="true"></ag-icon>
  </div>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="http://angularjs.blogspot.ca/">Angular blog</a></h2>
  </li>
</ul>

